<div class="grade-list-wrapper">
  <label for="lName">Students table</label>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">FName</th>
        <th scope="col">LName</th>
        <th scope="col">T1</th>
        <th scope="col">T2</th>
        <th scope="col">T3</th>
        <th scope="col">P1</th>
        <th scope="col">P2</th>
        <th scope="col">P3</th>
        <th scope="col">P4</th>
        <th scope="col">P5</th>
        <th scope="col">Avg</th>
      </tr>
    </thead>
    <tbody>
      <tr app-grade-item *ngFor="let student of students; index as i "
        [student]=student [index]=i></tr>
    </tbody>
  </table>
</div>