<div class="grade-form-wrapper">
  <form #form="ngForm" (ngSubmit)="onSubmit(form)">
    <div class="row">
      <div class="form-group col-6">
        <label for="fName">First Name</label>
        <input type="text" name="fName" class="form-control" id="fName"
          [(ngModel)]="student.fName" required>
      </div>
      <div class="form-group col-6">
        <label for="lName">Last Name</label>
        <input type="text" name="lName" class="form-control" id="lName"
          [(ngModel)]="student.lName" required>
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="form-group col-4">
        <label for="test1">Test I</label>
        <input type="number" name="test1" class="form-control" id="test1"
          [(ngModel)]="student.test1" min="0" max="100" required>
      </div>
      <div class="form-group col-4">
        <label for="test2">Test II</label>
        <input type="number" name="test2" class="form-control" id="test2"
          [(ngModel)]="student.test2" min="0" max="100" required>
      </div>
      <div class="form-group col-4">
        <label for="test3">Test III</label>
        <input type="number" name="test3" class="form-control" id="test3"
          [(ngModel)]="student.test3" min="0" max="100" required>
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="form-group col-4">
        <label for="project1">Project I</label>
        <input type="number" name="project1" class="form-control" id="project1"
          [(ngModel)]="student.project1" min="0" max="100" required>
      </div>

      <div class="form-group col-4">
        <label for="project2">Project II</label>
        <input type="number" name="project2" class="form-control" id="project2"
          [(ngModel)]="student.project2" min="0" max="100" required>
      </div>

      <div class="form-group col-4">
        <label for="project3">Project III</label>
        <input type="number" name="project3" class="form-control" id="project3"
          [(ngModel)]="student.project3" min="0" max="100" required>
      </div>

      <div class="form-group col-4">
        <label for="project4">Project IV</label>
        <input type="number" name="project4" class="form-control" id="project4"
          [(ngModel)]="student.project4" min="0" max="100" required>
      </div>

      <div class="form-group col-4">
        <label for="project5">Project V</label>
        <input type="number" name="project5" class="form-control" id="project5"
          [(ngModel)]="student.project5">
      </div>
    </div>
    <hr />
    <div class="button-group mt-4">
      <button type="button" class="btn btn-primary">Submit</button>
      <button type="button" class="btn btn-warning ml-3">Clear</button>
      <button type="button" class="btn btn-danger ml-3">Delete</button>
    </div>
  </form>
</div>