<div class="container-fluid py-5">
  <h1>Grade Workseet - ITSE 2402</h1>
  <div class="row mt-xl-5 px-2">
    <app-grade-form class="col-12 col-xl-4 pt-5 pt-xl-0 border-right"
      [editMode]="state.editMode"
      [student]="state.selectedStudent"
      (createNewStudentRecord)="onCreateNewStudentRecord($event)"
      (updateStudentRecord)="onUpdateStudentRecord($event)"
      (editStudentRecordCancel)="onEditStudentRecordCancel()"
      (deleteStudentRecord)="onDeleteStudentRecord()">
    </app-grade-form>
    <app-grade-list class="col-12 col-xl-8 pt-5 pt-xl-0" [students]="state.students"
      (onGradeItemClicked)="onEditStudentRecord($event)">
    </app-grade-list>
  </div>
</div>